.container {
  width: 100%;
  height: 600px;
  flex-direction: row;
  animation: pulse 1.5s infinite;
  align-items: center;
  justify-content: center;
}

.container h2 {
  color: white;
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
}

.winnerPoke {
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.img {
    height: 200px;
    margin-top: 60px;
}

@keyframes pulse {
  0% {
    background-color: #24aa2f;
  }
  50% {
    background-color: rgb(58, 175, 103);
  }
  100% {
    background-color: rgb(73, 184, 132);
  }
}

.pokeName {
  flex-direction: column; 
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.733);
  font-size: 20px;
  border-radius: 10px;
  /* width: 30%; */
}