@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&family=VT323&display=swap");

.App {
  font-family: "Josefin Sans", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  margin: 0px;
  padding: 0px;
  background-image: url("./images/background-blue.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #0aa9dd;
  text-decoration: none;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: 2px re.d solid; */
}

nav {
  background-color: #0071bc;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 10px;
  font-size: 1.2rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.main-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.logo {
  width: 600px;
  margin-top: 10px;
}

h1 {
  font-weight: 900;
  color: white;
  font-size: 3rem;
  text-shadow: 0 0 10px #004471;
  margin-bottom: 10px;
}

h3 {
  color: #0071bc;
}

.poke-grid {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 7px;
}

.grid-cell {
  background-color: white;
  padding: 0.7rem 0 1rem 0;
  margin: 0.3rem;
  border: 2px solid #0aa9dd;
  border-radius: 0.7rem;
  min-width: 160px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.grid-cell:hover {
  border: 2px solid #0071bc;
  transform: translate(-1px, -1px);
  transition: 0.5s;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
}

.grid-cell:active {
  transform: translate(1px, 1px);
}

.grid-cell img {
  height: auto;
  width: 170px;
}

.poke-grid a {
  color: #0071bc;
  text-decoration: none;
  margin: 0px;
}

.poke-grid h3 {
  font-size: 1.7rem;
  margin-bottom: 5px;
  margin-top: 0px;
}

.poke-grid p {
  margin: 0px;
}

.poke-card {
  background-color: white;
  padding: 0.7rem 0 1rem 0;
  margin: 0.3rem;
  border: 2px solid #0aa9dd;
  border-radius: 0.7rem;
  width: 70%;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #0aa9dd;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 20px 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 7px;
}

button:hover {
  border: 1px solid yellow;
}

.button-green {
  background-color: #4caf50;
}

.matchup-main {
  display: flex;
  flex-direction: row;
  /* border: 2px red solid; */
}

matchup-main-header {
  border: 2px red solid;
}

.fighter-containers {
  /* border: 1px blue solid; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: align; */
}

.bottom-buttons {
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px;
  width: 100%;
  border: 1px red solid;
  text-align: center;
}

.bottom-buttons button {
  font-size: 2rem;
  padding: 20px 30px;
  margin: 5px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #0071bc;
  font-weight: 200;
  /* position: fixed; */
  /* padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%; */
}

#shuffleBtn {
  background-color: #88e1ff;
  border: none;
  height: 35px;
  color: black;
  font-size: 1rem;
  margin: 3px;
  padding: 0px 20px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #00000099;
  border-radius: 4px;
  transform: translateY(10px);
}

#shuffleBtn:hover {
  background-color: #aeebff;
}

#shuffleBtn:active {
  transform: translateY(11px) translateX(1px);
}
